#interior{
    width:300px;
    height:150px;
}

h1,h2{
    color:white;
}
button{
    background-color:white;
    border-radius: 10px;
    text-align: center;
    color:black
}
h3{
    color:black
}
